Repository MobilityData/gbfs, pull requests merged in 2023-11, with the labels that each got.

#497 New Field - termination_date
  gbfs.md
Labels: gbfs.md, Vote Passed, v3.0-RC2

#522 Use RFC3339 for Timestamp
  gbfs.md
Labels: gbfs.md, Vote Passed, v3.0-RC2

#542 Make vehicle_type_ids plural in geofencing_zones
  gbfs.md
Labels: proposal:breaking, gbfs.md, Vote Passed, v3.0-RC2

#545 Specify IDs caracters range restrinctions
  gbfs.md
Labels: proposal:breaking, gbfs.md, Vote Passed, v3.0-RC2

#546 Pricing Plans: replaces integer with float in interval
  gbfs.md
Labels: proposal:breaking, gbfs.md, Vote Passed, v3.0-RC2

#547 Makes vehicle capacity at stations consistent between station_information and status
  gbfs.md
Labels: proposal:breaking, gbfs.md, Vote Passed, v3.0-RC2

#537 feat: add shared-mobility-gbfs
  systems.csv
Labels: systems.csv
